*.onnx
*.pb.rs

.venv/
__pycache__/
*.pyc

target/
vendor/

bin/
dist/

*.exe
*.dll
*.so
*.dylib
*.pbtxt
ARCHITECTURE.md
DONE.md
local_models/*

plan.md

nlp_model/ner_model/*
nlp_model/ner_pipeline/1/model.onnx*
nlp_model/ner_pipeline/1/labels.json
nlp_model/ner_pipeline/1/tokenizer.json
nlp_model/ner_pipeline/1/tokenizer_config.json
nlp_model/ner_pipeline/1/vocab.txt

ml_model/xgb_housing/*

local_models/models/*.pkl
aklıma-gelenler.md
.claude/*