*.onnx
*.onnx.data
*.pb.rs

.venv/
__pycache__/
*.pyc

target/
vendor/

bin/
dist/

*.exe
*.dll
*.so
*.dylib

# local_models: hepsini ignore et
local_models/*

# plan.md sadece lokalde
plan.md

# nlp_model: sadece büyük model dosyalarını ignore et
nlp_model/ner_model/*.onnx
nlp_model/ner_model/*.onnx.data
nlp_model/tokenizer/1/vocab.txt
nlp_model/decoder/1/

# ml_model: sadece büyük model dosyalarını ignore et
ml_model/xgb_housing/*.onnx
ml_model/xgb_housing/*.onnx.data
ml_model/xgb_housing/1/

local_models/models/*.pkl
aklıma-gelenler.md
.claude/*
